# Build directories
build/
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/
.vscode/

# Temporary / intermediate folders
NEW Version/
NEW Version ONLY/
General CSS/
mAIN bACKGROUND iMAGE/
Top Bar Image/
*.tmp
*.log
